@model SoccerCourtReserve.ViewModel.ReserveViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@foreach (var reserve in Model.Time)
{
    <tr>
        <th scope="row">@reserve</th>
        <td><a asp-page="/BookCourt" type="button" class="btn btn-success">BOOK</a> </td>
        <td><button type="button" class="btn btn-success">Available</button> </td>
        <td><button type="button" class="btn btn-danger">Unavailable</button> </td>
        <td><button type="button" class="btn btn-success">Available</button> </td>
        <td><button type="button" class="btn btn-success">Available</button> </td>
        <td><button type="button" class="btn btn-success">Available</button> </td>
    </tr>
}

